/* 575 boilerplate style.css */
.bar{
    fill: steelblue;
  }

  .bar:hover{
    fill: brown;
  }

    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
    font-size: 14px;
}

.infolabel h1 {
    margin: 0 20px 10px 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    text-decoration: underline;
    font-size: 18px;
}